{erl_opts, []}.
{lib_dirs,["deps"]}.

{deps, [
    {'cowboy', ".*", {
        git, "git://github.com/extend/cowboy.git", {tag, "0.8.6"}}
    },
    {'erlzmq', ".*", {
        git, "https://github.com/zeromq/erlzmq2.git", master}
    },
    {'jiffy', ".*", {
        git, "git@github.com:davisp/jiffy.git", master}
    }
]}.
